!backups
backups/*
!backups/.gitkeep

!cache
cache/*
!cache/.gitkeep


!roms
rom/*

!roms/lutris/**/*.yaml
!roms/lutris/*.desktop
!roms/lutris/*.sh
roms/lutris/**/*.zip
roms/lutris/**/*.7z
roms/lutris/**/*.exe
roms/lutris/**/*.iso
roms/lutris/**/*.png
roms/lutris/**/*.txt
roms/lutris/**/*.appimage
roms/lutris/**/*.AppImage
roms/lutris/**/*.PAK

roms/*.txt
roms/3do/
roms/adam/
roms/ags/
roms/amiga/
roms/amiga1200/
roms/amiga600/
roms/amigacd32/
roms/amstradcpc/
roms/android/
roms/apple2/
roms/apple2gs/
roms/arcade/
roms/arcadia/
roms/archimedes/
roms/arduboy/
roms/astrocde/
roms/atari2600/
roms/atari5200/
roms/atari7800/
roms/atari800/
roms/atarijaguar/
roms/atarijaguarcd/
roms/atarilynx/
roms/atarist/
roms/atarixe/
roms/atomiswave/
roms/bbcmicro/
roms/c64/
roms/cdimono1/
roms/cdtv/
roms/chailove/
roms/channelf/
roms/coco/
roms/colecovision/
roms/consolearcade/
roms/cps/
roms/cps1/
roms/cps2/
roms/cps3/
roms/crvision/
roms/daphne/
roms/desktop/
roms/doom/
roms/dos/
roms/dragon32/
roms/dreamcast/
roms/easyrpg/
roms/electron/
roms/emulators/
roms/ep128emu/
roms/epic/
roms/famicom/
roms/fba/
roms/fbneo/
roms/fds/
roms/flash/
roms/fm7/
roms/fmtowns/
roms/gamate/
roms/gameandwatch/
roms/gamecom/
roms/gamecube
roms/gamegear/
roms/gb/
roms/gba/
roms/gbc/
roms/gc/
roms/genesis/
roms/gmaster/
roms/gx4000/
roms/intellivision/
roms/j2me/
roms/kodi/
roms/laserdisc/
roms/lcdgames/
roms/lowresnx/
roms/lutris_updates/
roms/lutro/
roms/macintosh/
roms/mame-advmame/
roms/mame/
roms/mastersystem/
roms/megacd/
roms/megacdjp/
roms/megadrive/
roms/megadrivejp/
roms/megaduck/
roms/mess/
roms/model2/
roms/model3/
roms/moto/
roms/msx/
roms/msx1/
roms/msx2/
roms/msxturbor/
roms/mugen/
roms/multivision/
roms/n3ds/
roms/n3ds_updates/
roms/n64/
roms/n64dd/
roms/naomi/
roms/naomi2/
roms/naomigd/
roms/nds/
roms/neogeo/
roms/neogeocd/
roms/neogeocdjp/
roms/nes/
roms/ngage/
roms/ngp/
roms/ngpc/
roms/odyssey2/
roms/openbor/
roms/oric/
roms/palm/
roms/pc/
roms/pc88/
roms/pc98/
roms/pcarcade/
roms/pcengine/
roms/pcenginecd/
roms/pcfx/
roms/pico8/
roms/plus4/
roms/pokemini/
roms/ports/
roms/primehacks
roms/ps2
roms/ps3
roms/psp
roms/pspmini/
roms/psvita
roms/psx
roms/pv1000/
roms/quake/
roms/samcoupe/
roms/satellaview/
roms/saturn/
roms/saturnjp/
roms/scummvm/
roms/scv/
roms/sega32x/
roms/sega32xjp/
roms/sega32xna/
roms/segacd/
roms/sfc/
roms/sg-1000/
roms/sgb/
roms/snes/
roms/snesna/
roms/solarus/
roms/spectravideo/
roms/steam/
roms/stv/
roms/sufami/
roms/supergrafx/
roms/supervision/
roms/supracan/
roms/switch/
roms/switch_updates/
roms/symbian/
roms/tanodragon/
roms/tg-cd/
roms/tg16/
roms/ti99/
roms/tic80/
roms/to8/
roms/triforce/
roms/trs-80/
roms/type-x/
roms/uzebox/
roms/vectrex/
roms/vic20/
roms/videopac/
roms/virtualboy/
roms/vpinball/
roms/vsmile/
roms/wasm4/
roms/wii
roms/wiiu/
roms/windows/
roms/windows3x/
roms/windows9x/
roms/wonderswan/
roms/wonderswancolor/
roms/x1/
roms/x68000/
roms/xbox
roms/xbox360
roms/zmachine/
roms/zx81/
roms/zxnext/
roms/zxspectrum/
