!backups
backups/*
!backups/.gitkeep

!cache
cache/*
!cache/.gitkeep

!roms
rom/*
!roms/lutris/**/*.yaml
!roms/lutris/*.desktop
!roms/lutris/*.sh

roms/3do/
roms/adam/
roms/ags/
roms/amiga/
roms/amiga1200/
roms/amiga600/
roms/amigacd32/
roms/amstradcpc/
roms/android/
roms/apple2/
roms/apple2gs/
roms/arcade/
roms/arcadia/
roms/archimedes/
roms/arduboy/
roms/astrocde/
roms/atari2600/
roms/atari5200/
roms/atari7800/
roms/atari800/
roms/atarijaguar/
roms/atarijaguarcd/
roms/atarilynx/
roms/atarist/
roms/atarixe/
roms/atomiswave/
roms/bbcmicro/
roms/c64/
roms/cdimono1/
roms/cdtv/
roms/chailove/
roms/channelf/
roms/coco/
roms/colecovision/
roms/consolearcade/
roms/cps/
roms/cps1/
roms/cps2/
roms/cps3/
roms/crvision/
roms/daphne/
roms/desktop/
roms/doom/
roms/dos/
roms/dragon32/
roms/dreamcast/
roms/easyrpg/
roms/electron/
roms/emulators/
roms/ep128emu/
roms/epic/
roms/famicom/
roms/fba/
roms/fbneo/
roms/fds/
roms/flash/
roms/fm7/
roms/fmtowns/
roms/gamate/
roms/gameandwatch/
roms/gamecom/
roms/gamecube
roms/gamegear/
roms/gb/
roms/gba/
roms/gbc/
roms/gc/
roms/genesis/
roms/gmaster/
roms/gx4000/
roms/intellivision/
roms/j2me/
roms/kodi/
roms/laserdisc/
roms/lcdgames/
roms/lowresnx/
roms/lutris/back.to.the.future.the.game/Back to The Future.zip
roms/lutris/call.of.duty/Call of Duty.zip
roms/lutris/codename.eagle/Codename Eagle.zip
roms/lutris/comanche.3.gold/Comanche Gold Patch Pack.zip
roms/lutris/comanche.3.gold/Comanche-Gold_Win_EN_ISO-Version.zip
roms/lutris/comanche.3.gold/DXGL-0.5.18-win32.exe
roms/lutris/comanche.3.gold/dxgl_config.png
roms/lutris/comanche.3.gold/howto.txt
roms/lutris/comanche.3.gold/resolutionfix.txt
roms/lutris/contract.jack/Contract Jack 1.1 Full.exe
roms/lutris/diablo/Diablo.zip
roms/lutris/diablo/devilutionx-linux-x86_64.appimage
roms/lutris/duke.nukem.manhattan.project/Duke Nukem - Manhattan Project.zip
roms/lutris/dune.legacy/Dune Legacy 0.97.02 Setup.exe
roms/lutris/dune.legacy/paks/
roms/lutris/dune2000/Dune2000.zip
roms/lutris/ef2000.special.edition/EF2000-ISOs.zip
roms/lutris/ef2000.special.edition/EF2000_Reloaded_104_Installer.exe
roms/lutris/ef2000.special.edition/docs/
roms/lutris/emperor.battle.for.dune/Emperor.7z
roms/lutris/force.commander/Force Commander.zip
roms/lutris/janes.combat.simulations.f-15/Janes-Combat-Simulations-F-15_Patch_Win_EN.zip
roms/lutris/janes.combat.simulations.f-15/Janes-Combat-Simulations-F-15_Win_EN_ISO-Version.zip
roms/lutris/janes.combat.simulations.fighters.anthology/Janes-FA-ISOs.zip
roms/lutris/janes.combat.simulations.fighters.anthology/patch102.zip
roms/lutris/myth.the.fallen.lords/Myth-The-Fallen-Lords_Win_EN.zip
roms/lutris/no.one.lives.forever.2/No One Lives Forever 2 Install.exe
roms/lutris/no.one.lives.forever/NOLF1_With_Modernizer_Patch.exe
roms/lutris/systeminfo.txt
roms/lutris/warcraft.2/Warcraft II BNE.zip
roms/lutris/warcraft.3/Saved Games.zip
roms/lutris/warcraft.3/Warcraft III - Maps and Campaigns.zip
roms/lutris/warcraft.3/Warcraft III.zip
roms/lutris/wolfenstein/Wolfenstein.zip
roms/lutris/x-files.the.game/The_X-Files_-_The_Game_CD1.iso
roms/lutris/x-files.the.game/The_X-Files_-_The_Game_CD2.iso
roms/lutris/x-files.the.game/The_X-Files_-_The_Game_CD3.iso
roms/lutris/x-files.the.game/The_X-Files_-_The_Game_CD4.iso
roms/lutris/x-files.the.game/The_X-Files_-_The_Game_CD5.iso
roms/lutris/x-files.the.game/The_X-Files_-_The_Game_CD6.iso
roms/lutris/x-files.the.game/The_X-Files_-_The_Game_CD7.iso
roms/lutris_updates/
roms/lutro/
roms/macintosh/
roms/mame-advmame/
roms/mame/
roms/mastersystem/
roms/megacd/
roms/megacdjp/
roms/megadrive/
roms/megadrivejp/
roms/megaduck/
roms/mess/
roms/model2/
roms/model3/
roms/moto/
roms/msx/
roms/msx1/
roms/msx2/
roms/msxturbor/
roms/mugen/
roms/multivision/
roms/n3ds/
roms/n3ds_updates/
roms/n64/
roms/n64dd/
roms/naomi/
roms/naomi2/
roms/naomigd/
roms/nds/
roms/neogeo/
roms/neogeocd/
roms/neogeocdjp/
roms/nes/
roms/ngage/
roms/ngp/
roms/ngpc/
roms/odyssey2/
roms/openbor/
roms/oric/
roms/palm/
roms/pc/
roms/pc88/
roms/pc98/
roms/pcarcade/
roms/pcengine/
roms/pcenginecd/
roms/pcfx/
roms/pico8/
roms/plus4/
roms/pokemini/
roms/ports/
roms/primehacks
roms/ps2
roms/ps3
roms/psp
roms/pspmini/
roms/psvita
roms/psx
roms/pv1000/
roms/quake/
roms/samcoupe/
roms/satellaview/
roms/saturn/
roms/saturnjp/
roms/scummvm/
roms/scv/
roms/sega32x/
roms/sega32xjp/
roms/sega32xna/
roms/segacd/
roms/sfc/
roms/sg-1000/
roms/sgb/
roms/snes/
roms/snesna/
roms/solarus/
roms/spectravideo/
roms/steam/
roms/stv/
roms/sufami/
roms/supergrafx/
roms/supervision/
roms/supracan/
roms/switch/
roms/switch_updates/
roms/symbian/
roms/systems.txt
roms/tanodragon/
roms/tg-cd/
roms/tg16/
roms/ti99/
roms/tic80/
roms/to8/
roms/triforce/
roms/trs-80/
roms/type-x/
roms/uzebox/
roms/vectrex/
roms/vic20/
roms/videopac/
roms/virtualboy/
roms/vpinball/
roms/vsmile/
roms/wasm4/
roms/wii
roms/wiiu/
roms/windows/
roms/windows3x/
roms/windows9x/
roms/wonderswan/
roms/wonderswancolor/
roms/x1/
roms/x68000/
roms/xbox
roms/xbox360
roms/zmachine/
roms/zx81/
roms/zxnext/
roms/zxspectrum/




